body{
    background:#202020;
}
.radio-inline{
    color: #ffffff;
vertical-align: middle;
    text-align: center;
    font-size: 18px;

}
.timeSwitch {

    margin: auto;
    text-align: center;

}
#clock
{
    height: 100px;
}

#mainDiv
{
    width: 700px;
    height: 25vh; /* %-height of the viewport */
    position: relative;


}

#displaySchedule
{
    width: 700px;
    height: 50vh; /* %-height of the viewport */

overflow-x: auto;
align-content: center;
align-self: center;
    text-align: center;
    margin: 0px auto;
}




